*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#0C164D,#190B23);
    overflow: hidden;  
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 50%;
    margin: 0 auto;
}

.description{
    margin: 2rem 0;
}

h1{ 
    font-family: 'Secular One', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 400;
}

h3{
    font-family: 'Lora', serif;
    color: #FFD029;
    letter-spacing: 1rem;
    font-weight: 400;
}

p:nth-child(3){
    margin-top: 2rem;
}

.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}