*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right,#0C164D,#190B23);
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    height: 680px;
    margin: 3rem auto;
}

.description{
    margin: 2rem 0;
}

h1{ 
    font-family: 'Secular One', sans-serif;
    color: white;
    font-size: 4rem;
    font-weight: 400;
}

h3{
    font-family: 'Lora', serif;
    color: #FFD029;
    letter-spacing: 1rem;
    font-weight: 400;
}

p:nth-child(3){
    margin-top: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 170%;
}

.stats{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
}

h4{
    font-family: 'Secular One', sans-serif;
    font-weight: 500;
}

.stats p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 4px;
}

.moons{
    width: 100%;
    margin-top: 2rem;
}

.moons p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    margin-top: 0.5rem;
    letter-spacing: 4px;
}

footer{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}